@page
@model AddOrUpdateProfileModel
@{
    
}
@section scripts {
    <script type="text/javascript"></script>
}
<form method="post" class="post-editor d-flex flex-column">
    @*<input type="hidden" name="@nameof(Model.Post.Id)" id="@nameof(Model.Post.Id)" value="@Model.Post.Id">
    <partial name="_EditPost" model="Model.Post" />*@
</form>