body,
html {
    height: 100%;
}

a {
    color: #5731b3;
}

    a:focus, a:hover {
        color: #704acd;
    }

img {
    max-width: 100%;
}

label {
    font-weight: 400;
    white-space: nowrap;
}

hr {
    border-color: #eee;
    margin: 2rem 0;
}

form {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

iframe {
    width: 100%;
    border: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

    button:focus {
        outline: none !important;
    }

code {
    padding: .2rem .4rem;
    background-color: #f8f9fa;
    border-radius: .25rem;
}

pre {
    font-size: 1rem;
}

    pre > code {
        padding: 0;
        background-color: transparent;
        border-radius: unset;
    }

.progress {
    margin-bottom: 1rem;
}

blockquote {
    background: #eee;
    padding: 2rem;
    border-radius: 3px;
}

    blockquote p:last-child {
        margin-bottom: 0 !important;
    }

body {
    font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    cursor: default;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", "Times New Roman", Times, serif;
    margin-top: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

a {
    text-decoration: underline;
}

#cookieConsent {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

.page-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (min-width: 992px) {
    .page-content {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.container {
    max-width: 56rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.overlay {
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .85;
    z-index: 999;
    display: none;
}

.blog-header {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1000;
    height: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            color: #aaa;
        }
    }

    .container {
        height: 100%;
    }
}

.blog-logo {
    display: block;
    color: #fff !important;

    img {
        max-height: 2rem;
        font-size: 0;
    }

    span {
        display: block;
        margin-left: .75rem;
        font-size: 1.25rem;
        font-family: "Merriweather", "Times New Roman", Times, serif;
        font-weight: 700;
    }
}

.blog-title {
    font-family: "Merriweather", "Times New Roman", Times, serif;
    font-size: 2.625rem;
    margin-bottom: 1rem;

    a {
        color: #fff;
    }
}

.blog-search .form-control {
    border: 0;
}

@media screen and (min-width: 576px) {
    .blog-search .modal-dialog {
        margin-top: 5rem;
    }
}

.blog-search-toggle {
    color: #fff;
    margin-left: 1.25rem;
    padding-left: 1.125rem;
    position: relative;
}

    .blog-search-toggle:hover .fa {
        opacity: .5;
    }

    .blog-search-toggle::before {
        content: "";
        display: block;
        width: 1px;
        height: 1.5rem;
        background-color: rgba(255, 255, 255, 0.25);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

.footer {
    color: #f7f7f7;
    font-size: .75rem;
    padding: 2rem 0 1.8rem 0;
    background-color: #222;

    h2 {
        font-size: 1.2rem;
        font-weight: normal;
    }

    img {
        border: 1px solid #f7f7f7;
        max-width: 15%;
        float: left;
        margin: 0.25rem 1rem 0 0;
    }

    a {
        color: #fff;
    }

    p {
    }

    &.copy {
        background-color: #000;
        padding: 1rem 0;
        padding-bottom: 1.5rem;
        font-size: .65rem;

        .container {
            opacity: .3;
        }

        a {
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.page-cover {
    padding-top: 9.5rem;
    padding-bottom: 5rem;
    position: relative;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

    .page-cover a {
        text-decoration: none;
    }

    .page-cover::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: block;
        background: #000;
        z-index: 700;
        opacity: .5;
        z-index: 0;
    }

    .page-cover-desc, .page-cover-title,
    .page-cover .container {
        position: relative;
        z-index: 1;
    }

.page-cover-title {
    font-family: "Merriweather", "Times New Roman", Times, serif;
    font-size: 2.625rem;
}

    .page-cover-title a {
        color: #fff;
    }

.page-cover-desc {
    font-size: 1rem;
    font-weight: 300;
    max-width: 30rem;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .page-cover {
        padding: 6rem 1rem 3rem;
    }

        .page-cover .page-cover-title {
            font-size: 1.5rem;
            margin-bottom: .25rem;
        }
}

@media screen and (max-width: 800px) {
    .page-cover {
        text-align: left;
    }

        .page-cover .page-cover-desc {
            font-size: .87rem;
            max-width: none;
            margin: 0;
        }
}

.btn {
    border-width: 2px;
}

.btn-rounded {
    border-radius: 5rem;
}

.btn-unstyled {
    background: none;
    border: 0;
}

.pagination {
    font-size: .75rem;
    color: #888;

    label {
        display: block;
        line-height: 1.25;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    a {
        color: #888;
        font-weight: 700;

        &:hover {
            color: #000;
        }
    }

    .item-prev {
        text-align: right !important;
    }
}

.tooltip-inner {
    text-transform: uppercase;
    font-size: .625rem;
    padding: .1875rem .625rem .1875rem;
    letter-spacing: .0625rem;
    border-radius: .125rem;
}

.browserupgrade {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: block;
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

    .browserupgrade a {
        color: aqua;
    }

.modal-backdrop.show {
    opacity: .75;
}

.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

.post {
    /*.post-cover {
    // position: relative;
    margin-bottom: 1rem;

    img {
      font-size: 0;
    }

    .post-featrued-label {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      z-index: 100;
      background-color: gold;
      display: block;
      padding: .25rem .5rem;
      font-size: .75rem;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: .25rem;
    }
    @media screen and (min-width:992px) {
      position: absolute;
      left: 0;
      top: 0;
      width: 18rem;
      height: 12.5rem;
      overflow: hidden;
      border-radius: .25rem;

      img {
        width: auto;
        min-height: 100%;
        min-width: 100%;
        max-width: 150%;
        max-height: none;
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        transform: translate(-50%, -50%);
      }
    }
  }*/
}

    .post:last-child {
        margin-bottom: 0;
    }

    .post .post-meta {
        padding-left: 3.25rem;
        min-height: 2.5rem;
        position: relative;
        font-size: .75rem;
        color: #888;
        line-height: 1.25;
        margin-bottom: 2.5rem;
    }

        .post .post-meta a {
            color: #888;
        }

            .post .post-meta a:hover {
                color: #000;
            }

    .post .post-meta-author {
        font-weight: 700;
        color: #444;
        padding-top: .25rem;
        display: block;
        font-size: .875rem;
        margin-bottom: .125rem;
    }

    .post .post-meta-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }

    .post .post-meta-time {
        text-transform: uppercase;
    }

        .post .post-meta-time::before {
            content: "";
            display: block;
            height: 0;
            line-height: 0;
            font-size: 0;
        }

    .post .post-meta-category {
        text-transform: uppercase;
    }

        .post .post-meta-category::before {
            content: "/";
            margin: 0 .125rem;
        }

        .post .post-meta-category a::after {
            content: ", ";
        }

        .post .post-meta-category a:last-child::after {
            display: none;
        }

    .post .post-description {
        font-size: .875rem;
        margin-bottom: 1rem;
        color: #000;
    }

        .post .post-description p {
            margin-bottom: .25rem;
        }

    .post .post-title {
        font-family: "Merriweather", "Times New Roman", Times, serif;
        font-size: 2.5rem;
        line-height: 1.3;
    }

        .post .post-title a {
            color: #000;
            text-decoration: none;
        }

            .post .post-title a:hover {
                color: #666;
            }

@media screen and (min-width: 992px) {
    .post {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 991px) {
    .post {
        border-bottom: 1px solid #eee;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

        .post:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
}

.page-error {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
}

    .page-error::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
    }

    .page-error .page-content {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        z-index: 1;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .0625rem;
    }

    .page-error h1 {
        font-size: 5rem;
    }

    .page-error p {
        font-size: 1rem;
        font-weight: 300;
    }

@media screen and (max-width: 22.5rem) {
    .page-error h1 {
        font-size: 3rem;
    }
}
