@{
    Layout = "_Layout";
}
@section head {
    @RenderSection("head", required: false)
}
@section scripts {
    @RenderSection("scripts", required: false)
}

<partial name="_Header" />
<div class="pineblog-admin">
    @RenderBody()
</div>
