@model Opw.PineBlog.Posts.IEditPostCommand
<input asp-for="Slug" type="hidden">
<input asp-for="CoverUrl" type="hidden">
<div class="post-cover" style="background-image: url('@Model.CoverUrl')">
    <div class="container">
        <div>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <input type="submit" class="btn btn-primary" value="Save" />

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Publish</a>
                        <a class="dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-outline-light">View</button>
            <button type="button" class="btn btn-outline-light">Cancel</button>

            <div class="btn-group float-right" role="group">
                <button type="button" class="btn btn-outline-light" title="Cover" onclick="fileManager.open(updatePostCoverCallback, '@Model.Slug', 'image'); return false;">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-light" title="Settings" data-toggle="modal" data-target="#settingsModal">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="form-group">
            <textarea asp-for="Title" placeholder="Post title.."></textarea>
        </div>
    </div>
</div>

<div asp-validation-summary="All" class="invalid-tooltip">

</div>
<div class="md-editor">
    <textarea asp-for="Content"></textarea>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Post Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Categories"></label>
                    <input asp-for="Categories" class="form-control">
                    <span asp-validation-for="Categories" class="invalid-feedback"></span>
                    <small class="form-text text-muted">Comma separated list of categories.</small>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Published"></label>
                    <input asp-for="Published" class="form-control">
                    <span asp-validation-for="Published" class="invalid-feedback"></span>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="CoverCaption"></label>
                    <input asp-for="CoverCaption" class="form-control">
                    <span asp-validation-for="CoverCaption" class="invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoverLink"></label>
                    <input asp-for="CoverLink" class="form-control">
                    <span asp-validation-for="CoverLink" class="invalid-feedback"></span>
                </div>
            </div>
        </div>
    </div>
</div>