@{
    var showTitle = ViewData["ShowTitle"] != null && true;
    var showSearch = ViewData["ShowSearch"] != null && true;
    //TODO: Update this view from _Header in sample project
}
<h1>TODO: Update this view from _Header in sample project</h1>