<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">TODO!</h4>
    <p>To enable client-side validation you need to add <code>jquery.validate</code> or a client-side validation library of your choice.</p>
    <p class="mb-0">
        You need to override the `_ValidationScriptsPartial.cshtml` in the `Admin` area, to do this create a new `_ValidationScriptsPartial.cshtml` page
        in the `~/Areas/Admin/Pages/Shared` folder.<br />
        This will make the Admin pages use that partial instead of the one your are seeing now.
    </p>
    <hr />
    See <a href="https://github.com/ofpinewood/pineblog/blob/master/docs/custom-layout.md#client-side-validation">customizing the layout</a> for more information.
</div>
