@{
    Layout = "_Layout";
    var theme = ViewData["PineBlogTheme"];
}
@section head {
    <environment include="Development">
        <link rel="stylesheet" href="~/themes/@theme/css/theme.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/themes/@theme/css/theme.min.css" asp-append-version="true">
    </environment>
    @RenderSection("head", required: false)
}
@section scripts {
    <environment include="Development">
        <script src="~/themes/@theme/js/theme.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/themes/@theme/js/theme.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
}
<div class="pineblog">
    <partial name="_Header" />
    @RenderBody()
    <partial name="_SearchModal" />
    <partial name="_Footer" />
</div>