<footer class="footer copy">
    <div class="container d-lg-flex text-center text-lg-left">
        <p>
            Powered by <a href="https://github.com/ofpinewood/pineblog">PineBlog</a>
            &copy; @DateTime.Now.Year <a href="https://github.com/ofpinewood">Of Pine Wood</a>
        </p>
        <p>
            <a asp-controller="Feed" asp-action="Rss"><i class="fa fa-rss" aria-hidden="true"></i></a>
        </p>
        <div class="ml-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/admin">admin</a>
            }
            else
            {
                <a href="~/admin">login</a>
            }
        </div>
    </div>
</footer>
