<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body class="pineblog">
    <h1>Add a custom <code>_Layout.cshtml</code> or <code>_AdminLayout.cshtml</code> page to your web project in the folder <code>./Areas/Blog/Pages/Shared/</code></h1>
    @RenderBody()
</body>
</html>
