<div class="modal fade blog-search" id="blog-search" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <form role="search" asp-page="Index" asp- method="post">
                    <input type="search" id="query" name="query" class="form-control form-control-lg" placeholder="Search..." autocomplete="off">
                </form>
            </div>
        </div>
    </div>
</div>
@*TODO: remove link https://github.com/blogifierdotnet/Blogifier/blob/14c4303a3981bcd0262e0ceaa71df0f31a3bd0e4/src/App/Views/Themes/Standard/_Shared/_Footer.cshtml*@