@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
@section head {
    <style>
        .blog-header {
            background-color: #000;
        }

        .page-content {
            padding-top: 5rem;
        }
    </style>
}
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>@ViewData["Title"]</h1>
                <form method="post">
                    <h2>Use a local account to log in.</h2>
                    <hr>
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control">
                        <span asp-validation-for="Input.Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control">
                        <span asp-validation-for="Input.Password"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>
            </div>
        </div>
        
    </div>
</div>