<footer class="footer copy">
    <div class="container d-lg-flex text-center text-lg-left">
        <p>PineBlog &copy; @DateTime.Now.Year Of Pine Wood (@ViewData["ApplicationVersion"])</p>
        <div class="ml-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/admin">admin</a>
            }
            else
            {
                <a href="~/admin">login</a>
            }
        </div>
    </div>       
</footer>
