@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section head {
    @RenderSection("head", required: false)
}
@section scripts {
    @RenderSection("scripts", required: false)
}

<partial name="_CookieConsentPartial" />
<div class="pineblog">
    <partial name="~/Pages/Shared/_Header.cshtml" />

    @RenderBody()

    <partial name="_Footer.cshtml" />
</div>