@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<partial name="_CookieConsentPartial" />

<div class="pineblog">
    <partial name="~/Pages/Shared/_Header.cshtml" />

    @RenderBody()

    <partial name="_Footer.cshtml" />
</div>