@page
@model IndexModel
@section head {
    <partial name="_Metadata" model="@Model.Metadata" />
}

<partial name="_PageCover" model="@Model.PageCover" />

<div class="page-content">
    <div class="container">
        @foreach (var post in Model.PostList.Posts)
        {
            <partial name="_Post" model="post" />
        }
        @if (Model.PostList.Pager != null && (Model.PostList.Pager.ShowOlder || Model.PostList.Pager.ShowNewer))
        {
            <nav class="pagination row">
                <div class="item-next col-md-6">
                    @if (Model.PostList.Pager.ShowNewer)
                    {
                        <a href="?@Model.PostList.Pager.LinkToNewer" title="Newer">
                            Newer
                        </a>
                    }
                </div>
                <div class="item-prev col-md-6">
                    @if (Model.PostList.Pager.ShowOlder)
                    {
                        <a href="?@Model.PostList.Pager.LinkToOlder" title="Older">
                            Older
                        </a>
                    }
                </div>
            </nav>
        }
    </div>
</div>
