@page
@model IndexModel

<partial name="_PageCover" model="new Opw.PineBlog.Models.PageCoverModel(Model.Blog.Title, Model.Blog.CoverUrl, Model.Blog.CoverCaption, Model.Blog.CoverLink)" />

<div class="page-content">
    <div class="container">
        @foreach (var post in Model.Posts)
        {
            <partial name="_Post" model="post" />
        }
        @if (Model.Pager != null && (Model.Pager.ShowOlder || Model.Pager.ShowNewer))
        {
            <nav class="pagination row">
                <div class="item-next col-md-6">
                    @if (Model.Pager.ShowNewer)
                    {
                        <a href="?@Model.Pager.LinkToNewer" title="Newer">
                            Newer
                        </a>
                    }
                </div>
                <div class="item-prev col-md-6">
                    @if (Model.Pager.ShowOlder)
                    {
                        <a href="?@Model.Pager.LinkToOlder" title="Older">
                            Older
                        </a>
                    }
                </div>
            </nav>
        }
    </div>
</div>
