@page
@model Opw.PineBlog.Areas.Blog.Pages.IndexModel
@{
    var pager = Model.Model.Pager;
    var posts = Model.Model.Posts;
    var blog = Model.Model.Blog;
}

<div class="page-cover" style="background-image: url('/@blog.Cover.Url')">
    <h1 class="page-cover-title">
        <a href="~/">@blog.Title</a>
    </h1>
</div>

<div class="page-content">
    <div class="container">
        @foreach (var post in posts)
        {
            <partial name="_Post" model="post" />
        }
        @if (pager != null && (pager.ShowOlder || pager.ShowNewer))
        {
            <nav class="pagination row">
                <div class="item-next col-md-6">
                    @if (pager.ShowNewer)
                    {
                        <a href="~/@pager.LinkToNewer" title="Newer">
                            Newer
                        </a>
                    }
                </div>
                <div class="item-prev col-md-6">
                    @if (pager.ShowOlder)
                    {
                        <a href="~/@pager.LinkToOlder" title="Older">
                            Older
                        </a>
                    }
                </div>
            </nav>
        }
    </div>
</div>
