<div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Choose file</label>
</div>

<button class="btn btn-primary" type="button" onclick="return fileManagerController.uploadClick()">Upload</button>

<div style="display:none;">
    <form method="post" name="frmUpload" id="frmUpload" asp-action="Upload" asp-controller="Assets" enctype="multipart/form-data">
        <input type="file" name="files" id="files" multiple onchange="fileManagerController.uploadSubmit(); return false;" />
        <input type="submit" value="Upload Multiple" />
    </form>
</div>