@page
@model Opw.PineBlog.Areas.Admin.Pages.AddCoverModel
@{
}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input asp-for="Cover.File" type="file" class="custom-file-input">
                    <label asp-for="Cover.File" class="custom-file-label">Choose file</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cover.FileName"></label>
            <input asp-for="Cover.FileName" class="form-control">
            <span asp-validation-for="Cover.FileName" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cover.Caption"></label>
            <input asp-for="Cover.Caption" class="form-control">
            <span asp-validation-for="Cover.Caption" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cover.Link"></label>
            <textarea asp-for="Cover.Link" class="form-control"></textarea>
            <span asp-validation-for="Cover.Link" class="invalid-feedback"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
</div>