@page
@model AddPostModel
@section scripts {
<script type="text/javascript">
    $(function () {
        var simplemde = new SimpleMDE({
            element: document.getElementById('Post_Content')
        });
    });
</script>
}

<div class="container pineblog-admin">
    <h1>Create <small>Post</small></h1>

    <form method="post">
        <div class="row">
            <div class="col-md">
                <div asp-validation-summary="ModelOnly" class="invalid-feedback"></div>
                <div class="form-group">
                    <label asp-for="Post.Title"></label>
                    <input asp-for="Post.Title" class="form-control">
                    <span asp-validation-for="Post.Title" class="invalid-feedback"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Post.Slug"></label>
                    <input asp-for="Post.Slug" class="form-control">
                    <span asp-validation-for="Post.Slug"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Post.Categories"></label>
                <input asp-for="Post.Categories" class="form-control">
                <span asp-validation-for="Post.Categories" class="invalid-feedback"></span>
                <small class="form-text text-muted">Comma separated list of categories.</small>
            </div>
                @*<div class="form-group">
                    <label asp-for="Post.Cover"></label>
                    <input asp-for="Post.Cover" class="form-control">
                    <span asp-validation-for="Post.Cover" class="invalid-feedback"></span>
                </div>*@
                @*<div class="form-group">
                    <label asp-for="Post.Author"></label>
                    <input asp-for="Post.Author" class="form-control">
                    <span asp-validation-for="Post.Author" class="invalid-feedback"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Post.Description"></label>
                    <textarea asp-for="Post.Description" class="form-control"></textarea>
                    <span asp-validation-for="Post.Description" class="invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Post.Content"></label>
                    <textarea asp-for="Post.Content" class="form-control"></textarea>
                    <span asp-validation-for="Post.Content" class="invalid-feedback"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <input type="submit" value="Add" class="btn btn-primary">
            </div>
        </div>
    </form>
    
</div>