@page
@model AddPostModel
@section scripts {
    <script type="text/javascript">
        var _editor = {};

        $(function () {
            var simplemde = new SimpleMDE({
                element: document.getElementById('Content'),
                toolbar: [
                    "bold", "italic", "heading", "heading-2", "|",
                    "quote", "unordered-list", "ordered-list", "|",
                    "code", "link",
                    {
                        name: "insertImage",
                        action: function customFunction(editor) {
                            _editor = editor;
				            fileManager.open(insertImageCallback);
			            },
                        className: "fa fa-folder-open",
                        title: "Insert image"
                    },
                    "|",
                    "preview", "side-by-side", "fullscreen", "|",
                    "guide"
                ]
            });
        });
    </script>
}
<form method="post" class="post-editor d-flex flex-column">
    <partial name="_EditPost" model="Model.Post" />
</form>
<partial name="_FileManager" />