@page
@model CoversModel
<div class="container">
    <h1>
        Covers
        <a href="addcover" class="btn btn-primary float-right">New</a>
    </h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cover in Model.Covers)
            {
                <tr onclick="location.href = 'updatecover?id=@cover.Id'" class="clickable">
                    <td><div class="cover-image" style="background-image: url('/@cover.Url')"></div></td>
                    <td>
                        @cover.Caption<br />
                        @cover.Link

                        @if (cover.Posts.Any())
                        {
                            <br/>
                            <strong>Posts:</strong>
                            <ul>
                                @foreach (var post in cover.Posts)
                                {
                                    <li>@post.Title</li>
                                }
                                
                            </ul>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>