@import "./_mixins.scss";
@import "./_variables.scss";
@import "./simplemde.scss";

.pineblog-admin {
    padding-top: 1rem;
    height: 85%; // TODO: make the thing actually 100% height
    .clickable {
        cursor: pointer;
    }

    .invalid-tooltip {
        &.field-validation-error {
            display: block;
        }

        &.validation-summary-errors {
            border-radius: 0;
            border: none;
            margin: 0;
            padding: 0;
            top: unset;
            position: unset;
            z-index: inherit;
            display: block;

            ul {
                padding-top: 1rem;
                margin-top: unset;

                @include make-container();
                @include make-container-max-widths();

                li {
                    list-style: none;
                }
            }
        }
    }

    .invalid-feedback {
        &.field-validation-error, &.validation-summary-errors {
            display: block;
        }
    }

    .post-editor {
        height: 100%;

        .md-editor {
            height: 100%;

            .editor-toolbar {
                border-radius: 0;
                border-left: none;
                border-right: none;
                border-top: none;

                @include make-container();
                @include make-container-max-widths();
            }

            .editor-statusbar {
                @include make-container();
                @include make-container-max-widths();
            }

            .CodeMirror {
                border-radius: 0;
                border-left: none;
                border-right: none;
                height: 100% !important;

                .CodeMirror-lines {
                    @include make-container();
                    @include make-container-max-widths();
                }
            }
        }

        .post-cover {
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: #555;
            margin-top: -1rem;

            &::after {
                background-color: rgba(0,0,0,0.5);
                display: block;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 0
            }

            .container {
                position: relative;
                z-index: 1;

                textarea {
                    width: 100%;
                    display: block;
                    font-size: 1.5rem;
                    color: #fff;

                    @media screen and (max-width: 991px) {
                        font-size: 1.125rem;
                    }

                    border: none;
                    border-radius: 0;
                    transition: none;
                    padding: 0;
                    background: none;
                    outline: none !important;
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .fileManager {
        .file {
            .file-image {
                position: relative;
                height: 9.5rem;
                overflow: hidden;
                border: 1px solid white;
                border-bottom: none;

                img {
                    width: auto;
                    min-height: 100%;
                    min-width: 100%;
                    max-width: 150%;
                    max-height: none;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: block;
                    transform: translate(-50%, -50%)
                }
            }

            .file-name {
                background-color: #fafafa;
                font-size: .75rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: .375rem; // .375rem .375rem 1.75rem;
                border: 1px solid white;
                border-top: none;
                margin: 0;

                .custom-control-label::after, .custom-control-label::before {
                    top: 0 !important
                }
            }
        }

        .file-pagination {
            width: 100%;
        }
    }

    .footer {
        &.copy {
            font-size: .65rem;
            color: #ccc;

            a {
                color: #ccc;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}
